on:
  workflow_dispatch: ~
  push:
    branches:
      - "github"
    paths:
      - "version.txt"

jobs:
  make_vs:
    container:
      image: archlinux:base-devel
      volumes:
        - "/:/mnt"
    runs-on: ubuntu-latest
    steps:
      - run: |-
          cd /mnt
          du -hd1 opt usr
          rm -vrf opt/{ghc,hostedtoolcache}        | wc -l
          rm -vrf usr/{local,share/{dotnet,swift}} | wc -l
          du -hd1 opt usr
      - run: |-
          uname -a
          mkdir ~/.ssh -p && cd /etc/pacman.d
          echo -e 'Server = https://mirrors.dotsrc.org/archlinux/$repo/os/$arch' >> mirrorlist
          echo -e 'Server = https://mirrors.kernel.org/archlinux/$repo/os/$arch' >> mirrorlist
          tac mirrorlist > mirrorlist~ && mv mirrorlist{~,} && cd /etc
          sed -r 's/^(COMPRESSZST)=.*/\1=(zstdmt -17 -M1024M --long)/' -i makepkg.conf
          sed -r 's/^#(MAKEFLAGS)=.*/\1="-j`nproc`"/' -i makepkg.conf
          sed -r 's/^#(PACKAGER)=.*/\1="Seele <seele@0h7z.com>"/' -i makepkg.conf
          pacman-key --init
      - run: |-
          pacman -Syu --noconfirm git pacman-contrib
          sed -r 's/\b(EUID)\s*==\s*0\b/\1 < -0/' -i /bin/makepkg
          makepkg --version
      - run: pacman -S --noconfirm github-cli julia msitools python-pip tree
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          path: firefox
          ref: 2c875ef12593121d0d0d565e8cec87022f659e34
      - run: |-
          cd firefox && git log --date=iso --show-signature
          ln -s mach /bin/mach -r && export MOZBUILD_STATE_PATH=/tmp/moz
          curl -LO https://github.com/Heptazhou/Firefox/raw/github/vs.jl
          mkdir -p $MOZBUILD_STATE_PATH && julia vs.jl / && cd .. && pwd
          mv -vt . $MOZBUILD_STATE_PATH/*.tar.zst
      - run: ls -lav *.tar.zst
      - uses: actions/upload-artifact@v4
        with:
          compression-level: 0
          path: "*.tar.zst"
      - run: |-
          gh version
          gh release delete $GH_TAG --cleanup-tag -y || true
          gh release create $GH_TAG *.tar.zst --target \
            2c875ef12593121d0d0d565e8cec87022f659e34 --title $GH_TAG
        env:
          GH_TAG: v129
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ secrets.PAT }}
